*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;;
    font-style: normal;
}

:root {
    --BgColor: #00669F;
    --FontColor: #FFFFFF;
    --ColorShadow: #00000025;
    --BgColorLight: #1CD1B0;
    --BorderRadius: 50px;
}

#descuento {
    position: relative;
    left: 0px;
    top: 0px;
    background: var(--BgColorLight);
    padding-left: 62.57px;
}

#divDetail {
    position: relative;
    left: 0px;
    top: 0px;
    background: var(--BgColorLight);
}

#tituloDetail {
    position: absolute;
    left: 2%;
    top: 15px;
    font-size: 40px;
}

header {
    background-color: var(--BgColor);
    color: var(--FontColor);
    height: 75px;
    position: sticky;
    top: 0;
    padding-left: 62.57px;
    z-index: 3;
    box-shadow: 0px 10px 7px 0px var(--ColorShadow);
}

h1 {
    position: absolute;
    top: 27px;
    left: 170px;
    font-size: 30px;
}

nav {
    background-color: #001D2D;
    display: relative;
    height: 30px;
    box-shadow: 0px 10px 7px 0px var(--ColorShadow);
}

ul a {
    display: inline-block;
    text-decoration: none;
    color: #FFFFFF;
}

ul {
    list-style-type: none;
    position: absolute;
    right: 0;
}

#mainHarley {
    background-image: url('../img/BG-Harley.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}

#sectionHome {
    display: flex;
    width: 1000px;
    position: relative;
    left: calc(50% - 510px);
    margin-top: 10%;
    margin-bottom: 20%;
    justify-content: space-around;
}

#sectionHarley {
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    width: 1000px;
    position: relative;
    left: calc(50% - 510px);
    padding: 10%;
}

.Card {
    display: relative;
    background-color: #F3F3F3;
    width: 200px;
    height: 460px;
    position: relative;
    margin: 0 auto;
    float: left;
    margin-top: 5%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-shadow: 0px 4px 4px 0px #00000025;
}

.CardDetail {
    display: relative;
    background-color: #F3F3F3;
    width: 500px;
    height: 470px;
    position: relative;
    margin: 0 auto;
    float: left;
    margin-top: 5%;
    border-radius: var(--BorderRadius);
    box-shadow: 0px 4px 4px 0px #00000025;
}

.ImgBatman {
    height: 100px;
    background-image: url('../img/bg-batman.jpg');
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#ImgBatman {
    background-image: url('../img/batman.jpg');
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-size: 250px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    bottom: 40px;
    background-position: -100px 2px;

}

.ImgMaravilla {
    height: 100px;
    background-image: url('../img/bg-wonderw.jpg');
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#ImgMaravilla {
    background-image: url('../img/wonderw.jpg');
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-size: 100px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    bottom: 40px;
    background-position: -10px 2px;

}

.ImgSuper {
    height: 100px;
    background-image: url('../img/bg-superman.jpg');
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#ImgSuper {
    background-image: url('../img/superman.jpg');
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-size: 150px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    bottom: 40px;
    background-position: -30px 2px;

}

.ImgHarley {
    height: 100px;
    background-image: url('../img/BG-Harley.jpeg');
    background-size: cover;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#ImgHarley {
    background-image: url('../img/Harley.jpeg');
    z-index: 2;
    width: 80px;
    height: 80px;
    border-radius: 80px;
    background-size: 90px;
    background-repeat: no-repeat;
    position: relative;
    left: 60px;
    bottom: 40px;
}

#ImgHarleyDetail {
    background-image: url('../img/Harley.jpeg');
    z-index: 2;
    width: 150px;
    height: 150px;
    border-radius: 80px;
    background-size: 150px;
    background-repeat: no-repeat;
    position: relative;
    left: 175px;
    bottom: 90px;
}

.text {
    height: 200px;
    position: relative;
    bottom: 30px;
}

.textDetail {
    position: relative;
    bottom: 50px;
}

.iconosDetail {
    width: 100%;
    position: absolute;
    left: 80px;
    bottom: 75px;
}

.arma {
    padding: 0px 5%;
}

#bottomDetail {
    background-color: #2C0187;
    position: relative;
    bottom: -50px;
    border-bottom-left-radius: var(--BorderRadius);
    border-bottom-right-radius: var(--BorderRadius);
    height: 15%;
}

form h2 {
    text-align: left;
    font-size: 250%;
}

div h2 {
    text-align: center;
    text-transform: uppercase;
}

#parrafo {
    text-align: left;
    margin: 5% 5%;
}

form {
    width: 55%;
}

form * {
    margin: 2% 0;
    width: 100%;
}

input {
    width: 100%;
    height: 15%;
    font-size: 20px;
    padding: 12px 20px;
    border: 1.53407px solid #000000;
    font-family: 'Karla', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
}

textarea{
    height: 163px;
    width: 100%;
    padding: 22px 37px 38px 28px;
    border: 1.53407px solid #000000;
    font-size: 16px;
    line-height: 25px;
    font-family: Karla;
    font-style: normal;
    font-weight: normal;
}

button {
    width: 100%;
    height: 15%;
    margin-top: 5%;
    border: none;
    border-radius: 15px;
    background-color: var(--BgColorLight);
    font-weight: bold;
    font-size: 120%;
}

.botonResetear, .botonEntrar {
    width: 45%;
    margin: 2%;
}

.botonResetear {
    background-color: #888888;
    color: #FFFFFF;

}

a {
    text-decoration: none;
    color: var(--BgColor);
}

p {
    text-align: center;
}

select {
    width: 100%;
    height: 15%;
}

.link {
    display: block;
    width: 100px;
    height: 30px;
    background-color:  var(--BgColor);
    color: var(--FontColor);
    text-decoration: none;
    position: relative;
    left: 25%;
}

.linkDetail {
    display: block;
    color: var(--FontColor);
    text-decoration: none;
    position: relative;
    top: 25px;
}

h5 {
    text-align: center;
}

#plus {
    color: var(--BgColor);
    font-size: 250%;
    position: fixed;
    right: 0;
    top: 50%;
    z-index: 3;
}

#heart {
    color: #CC2424;
    position: absolute;
    top: 2%;
    left: 5%;
}

#heartDetail {
    position: absolute;
    top: 10%;
    left: 5%;
}

footer {
    position: relative;
    bottom: 0;
    padding: 24px;
    width: 100%;
    text-align: center;
    background-color:  var(--BgColor);
    color: var(--FontColor);
}