<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link href="../css/styles.css" rel="stylesheet">
        <title></title>
    </head>

    <body>
        <div id="descuento">20% de descuento en todos los productos!</div>
        <header>
            <img src="../img/icono_tienda.svg">
            <h1>Card Super Heroes</h1>
        </header>

        <main class="mainLinks">
            <section class="sectionLinks">
                <form action="../index.html" method="GET">
                <h2 id="login">Login</h2>
                <input type="text" id="usuario" placeholder="Usuario" required>
                <input type="password" id="password" placeholder="Contraseña" required>
                <button type="submit">Entrar</button>
                <p><a href="./registro.html">¿No tienes una cuenta?</a> Registrarme</p>
            </form>
            </section>
        </main>

        <footer>
            <p>Todos los derechos reservados a FRONT END I</p>
        </footer>
    
    </body>

</html>