<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <link href="../css/styles.css" rel="stylesheet">
        <title></title>
    </head>

    <body>
        <div id="descuento">20% de descuento en todos los productos!</div>
        <header>
            <img src="../img/icono_tienda.svg">
            <h1>Super Heroes Cards</h1>
        </header>

        <main class="mainLinks">
            <section class="sectionLinks">
                <form action="../index.html" method="GET">
                <h2 id="login">Registro</h2>
                <input type="text" id="usuario" placeholder="Nombre y Apellido" required>
                <input type="email" id="email" placeholder="Correo Electrónico" required>
                <input type="password" id="password" placeholder="Contraseña" required>
                <select name="pais">
                    <option value="" selected>País</option>
                    <option value="Argentina">Argentina</option>
                    <option value="Colombia">Colombia</option>
                    <option value="Brasil">Brasil</option>
                </select>
                <button class="botonResetear" type="reset">Resetear</button>
                <button class="botonEntrar" type="submit">Entrar</button>
                <p><a href="./login.html">¿Ya tenés una cuenta?</a> Ingresá</p>
            </form>
            </section>
        </main>

        <footer>
            <p>Todos los derechos reservados a FRONT END I</p>
        </footer>
    
    </body>

</html>